/* FOOTER */
.greybar {
    @include setWidthHeightBckgrnd(100%, 90px);
    // width:100%;
    // height:90px;
    // background: $lightGreyBackGround;
   // clear:both;
    padding-top:30px;
    @include break(459px){
        display: none;
    }
}
footer {
    @include setWidthHeightBckgrnd(100%, 120px, $darkBackGround);
    // width:100%;
    // height:120px;
    // background: $darkBackGround;
    text-align:center;
    color:#FFF;
    padding-top:50px;

    .social-media {
        margin:0 auto;
        width:165px;

        a {
            display:block;
            width:36px;
            height:36px;
            text-indent:-9999px;
        }
        %div{
            float:left;
            margin-right:5px;
        }

        .one {
            @extend %div;
            background:url(#{$imagesPath}/social-media.png) 0 0;
        }
        .two {
            @extend %div;
            background:url(#{$imagesPath}/social-media.png) -38px 0;
        }
        .three {
            @extend %div;
            background:url(#{$imagesPath}/social-media.png) -76px 0;
        }
        .four {
            @extend %div;
            background:url(#{$imagesPath}/social-media.png) -114px 0;
        }
    
    }
    @include break(459px){
        text-align: center;
    }
}


// footer						{text-align:center;}
// footer p, footer img 		{float:none;margin:0;}

