/* NAVIGATION */
figure {
    @include setWidthHeightBckgrnd(400px, 190px);
    // width:400px;
    // height:190px;
    float:left;
    display:block;
    margin:0;
    background:url(#{$imagesPath}/logo.png) no-repeat 0 50px;

    @include break(959px){
        width:inherit;
        height:140px;
        float:none;
        background-position:center;
      }

    @include break(459px){
        background-size:contain;
        height:100px;
    }
    

}
nav {
    @include setWidthHeightBckgrnd(540px, 190px, inherit);
    // width:540px;
    // height:190px;
    float:left;
    text-align:right;
     ul{
        list-style-type:none;
        margin-top:95px;
        @include break(959px) {
            margin-top:0;
        }
    }

    ul li {
        display:inline;
        font-size:0.8em;
        margin-right:10px;
        @include break(959px) {
            font-size:1em;margin:0 10px;
        }
        @include break(767px){
            font-size:0.8em;margin:0 5px;
        }
    }

    ul li a {
        color: $red;
        text-decoration:none;
        letter-spacing:-0.01em;
    }
    ul li a:hover {
        color:$white;
    }
    @include break(959px) {
        width:inherit;
        height:50px;
        float:none;
        text-align:center;
    }
    @include break(459px){
        margin-bottom:40px !important;
    }
}
// Included class to clear float 
.figAndNav {
    @include clearfix;
}

/* HEADER */
header {   
    width:inherit;
    //clear:both;
    text-align:center;
    padding-top:40px;

    img{
        max-width:100%;
        height:auto;
        @include break(767px){
            margin-bottom:100px;
        }
        @include break(459px){
            margin-bottom:80px;
        }
    }
    h1, h2, h3 {
        line-height:0;
    }

    h1 {
        @include setHeadingsColorFontSzWt($red, 4em, 100);
        // color: $red;
        // font-weight:100;
        // font-size:4em;
        @include break(959px) {
            font-size:3em;
        }
        @include break(767px){
            font-size:2em;
        }
        @include break(459px){
            ::first-child{
                font-size:1.4em;
                margin-bottom:20px;
            }
        }
    
 
    }

    h2 {
        @include setHeadingsColorFontSzWt($white, 2.5em, 900);
        color: $white;
        font-weight:900;
        font-size:2.5em;
        margin-bottom:70px;
        @include break(959px) {
            font-size: 1.5em;
        }
        @include break(767px){
            font-size: 1em;
        }
        @include break(459px){
            font-size: 1.4em;
        }
    }
    h3 {
        @include setHeadingsColorFontSzWt($darkGrey, 2em, 400);
        // color: $darkGrey;
        // font-weight:400;
        // font-size:2em;
        margin-bottom:50px;
        @include break(767px){
            font-size:1.5em;
        }
        @include break(459px){
            color:#FFF;
            font-size:1em;
        }

    }


}



