

$red:                    #E65C43;
$white:                  #FFF;
$darkGrey:               #666;
$lightGreyBackGround:    #F5F6F6;
$darkBackGround:         #30353D;

$background:             $white; 

$font-body:             'Roboto';
$imagesPath:            "../images";
